---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar'
import Hero from "../components/Hero"
import Top from "../components/Top"
import FAQ from '../components/FAQ';
import Bottom from '../components/Bottom';
import Footer from "../components/Footer";
import Pricing from '../components/Pricing';
import Seperator from '../components/Seperator';
import Testimonial from '../components/Testimonial';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class='bg-gradient-to-b from-[#DCEFFF] via-[#F7FAFC] to-white'>
		<Navbar client:load />
		<Hero/>
	</div>
	<Top />
	<Seperator/> 
	<Pricing client:load/>
	<Seperator/> 
    <Testimonial/>
    <Seperator/>
	<FAQ  client:load/>
	<Bottom/>
	<Footer/>
</Layout>
